<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.americo.ddcharactersheet35">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpellFilterActivity" />
        <activity android:name=".activity.DisplaySpellListActivity" />
        <activity android:name=".activity.DisplaySpellActivity" />
        <activity android:name=".activity.CharacterActivity" />
        <activity android:name=".activity.EditCharacterActivity" />
        <activity android:name=".activity.EditRaceActivity" />
        <activity android:name=".activity.EditClassesActivity" />
        <activity android:name=".activity.AddCharacterClassesActivity" />
        <activity android:name=".activity.EditPortraitActivity" />
    </application>

</manifest>